.canvasWrapper {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
}
.canvasWrapper canvas {
    width: 100%;
    height: 100%;
    display: block;
    visibility: visible;
    opacity: 1;
}
.imageSlider {
    overflow: auto;
}
.footerTools {
    overflow: auto;
}
